<svg class="icon icon-bag" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380.39 511">
  <title>bag</title>
  <path fill="currentColor" fill-rule="evenodd" d="M380.36,469.92,366,110.88A15.47,15.47,0,0,0,350.51,96H285.7v-.5a95.5,95.5,0,0,0-191,0V96H29.88a15.47,15.47,0,0,0-15.49,14.88L0,469.92A39.5,39.5,0,0,0,39.5,511H340.89a39.5,39.5,0,0,0,39.47-41.08ZM109.7,95.5a80.5,80.5,0,0,1,161,0V96h-161Zm248.86,393A24.29,24.29,0,0,1,340.89,496H39.5A24.49,24.49,0,0,1,15,470.52l14.36-359a.5.5,0,0,1,.5-.48H94.7v48.5a7.5,7.5,0,0,0,15,0V111h161v48.5a7.5,7.5,0,0,0,15,0V111h64.81a.5.5,0,0,1,.5.48l14.36,359A24.29,24.29,0,0,1,358.56,488.47Z"/>
</svg>